body {
    background-color: black;
    color: white;
}

img {
    width: 300px;
    height: 300px;
    margin: 15px;
}

#noah-band {
    width: 500px;
    height: 500px;
}

.main-container {
    border: 1px solid white;
}

.center {
    display: flex;
    justify-content: center;
}

#title {
    text-align: center;
}